#docPreview {
	height: 840px !important;
	width: 596px !important;
	position: sticky;
	top: 0;
	z-index: 0;
	display: grid;
	grid-template-columns: 65% 35%;
	grid-template-rows: 10% 90%;
	overflow-wrap: anywhere;
}
.header {
	/* position: absolute; */
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(147, 147, 252, 0.445);
	display: flex;
	grid-column: span 2;
}
.header > img {
	object-fit: cover;

	border-radius: 50%;
	margin: 10px;
}
.aside {
	grid-column: 2;
	top: 0;
	padding: 20px;
	width: 100%;
	height: 100%;
	background-color: rgba(147, 147, 252, 0.445);
}
main {
	padding: 10px;
	padding-top: 30px;
}
.subHeading {
	position: relative;
}
.subHeading::after {
	position: absolute;
	content: "";
	width: 95%;
	height: 1px;
	background-color: black;
	bottom: 0;
	left: 0;
}
