#docPreview {
	height: 840px !important;
	width: 596px !important;
	/* position: relative; */
	z-index: 0;
	display: grid;
	grid-template-columns: 70% 30%;
	grid-template-rows: 10% 90%;
}
.header {
	/* position: absolute; */
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(147, 147, 252, 0.445);
	display: flex;
	grid-column: span 2;
}
.header > img {
	object-fit: cover;

	border-radius: 50%;
	margin: 10px;
}
.aside {
	grid-column: 2;
	top: 0;

	width: 100%;
	height: 100%;
	background-color: rgba(147, 147, 252, 0.445);
	display: flex;
}
