form,
form > fieldset {
	display: flex;
	flex-direction: column;
	border-radius: 4px;
	width: 95%;
	max-width: 500px;
}
form {
	place-self: center;
	width: 100%;
}
form > fieldset {
	padding: 20px;
}
form > fieldset > input::-webkit-outer-spin-button,
form > fieldset > input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

form > fieldset > input[type="number"] {
	appearance: textfield;
	-moz-appearance: textfield;
}
form > fieldset > input,
form > fieldset > textarea,
form > fieldset > button {
	margin: 0.5rem 0;
	padding: 0.5rem;
	border: 2px solid var(--accent-color);
	border-radius: 4px;
	background: none;
	transition: all 0.2s ease-in-out;
	font-size: 1rem;
}
form > button {
	width: 100%;
	margin: 0 calc((100vw - 100%) / 2);
}
form > button:hover {
	background-color: var(--primary-color);
	color: var(--secondary-color);
}
textarea {
	resize: vertical;
}.dateInfo{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.schoolDegree {
	align-self: flex-end;
}
