header {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 10px;
  background-color: grey;
  box-shadow: 0px -5px 20px 0 black;
  position: -webkit-sticky;
  position: sticky;
}
#logo {
  display: flex;
  align-items: center;

}#logo > *{
  padding: 10px;
}
header > h1 {
  font-size: 3.5em;
  margin-left: 10px;
}
