:root {
	--color-primary: #1b2021;
	--color-secondary: #30343f;
	--color-accent: #c6ac8f;
}
main {
	margin: 1em;
	border-radius: 10px;
	min-height: 300px;
	width: calc(100% - (2 * 1em));
	background: var(--color-secondary);
	display: none;
}
main.active {
	display: block;
}
main#Main {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
