:root {
	--color-primary: #1b2021;
	--color-secondary: #30343f;
	--color-accent: #c6ac8f;
}
main {
	margin: 1em;
	border-radius: 10px;
	min-height: 300px;
	width: calc(100% - (2 * 1em));
	background: var(--color-secondary);
	display: none;
}
main.active {
	display: block;
}
form {
	width: 30%;
	display: flex;
	flex-direction: column;
	padding: 1em;
}
form > * {
	margin: 1em 0;
	padding: 10px;
	background-color: var(--color-secondary);
	color: var(--color-accent);
	font-size: 1em;
	border: var(--color-accent) 2px solid;
	border-radius: 10px;
}
form > button {
	background-color: var(--color-accent);
	color: var(--color-secondary);
	font-weight: 700;
}
